<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VP_LAB8_ICT_21_840.Properties.Settings.Lab8ConnectionString"
            connectionString="Data Source=DESKTOP-R85B60T\SQLEXPRESS;Initial Catalog=Lab8;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>